<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSQL">

	<select id="checkUserId" parameterType="String" resultType="user">
		select * from userinfo where id=#{id}
	</select>
	<select id="checkUserEmail" parameterType="String" resultType="user">
		select * from userinfo where email=#{email}
	</select>

	<insert id="signUp" parameterType="map">
		insert 
			into userinfo 
		values 
			(seq_userinfo.nextval,
			#{id},
			#{password},
			#{name},
			#{email},
			#{phone},
			#{birthday},
			#{post_number, jdbcType=VARCHAR},
			#{address, jdbcType=VARCHAR},
			sysdate)
	</insert>
	
	<select id="getUserInfo" parameterType="map" resultType="user">
		select * from userinfo where id=#{id}
	</select>
	
	
	<select id="login" parameterType="map" resultType="user">
		select 
			* 
		from 
			userinfo 
		where 
			id=#{id} and password=#{password}
	</select>
	
	<select id="getIdByEmail" parameterType="map" resultType="String">
		select 
			id
		from 
			userinfo 
		where 
			name=#{name} and email=#{email} 
	</select>
	
	<select id="getJoinDate" parameterType="String" resultType="String">
		select join_date from userinfo where id=#{id}
	</select>
	
	<select id="getInfoByEmail" parameterType="map" resultType="user">
		select id, join_date from userinfo where name=#{name} and email=#{email} 
	</select>
	

</mapper>